/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 24 jul. 2023, 19:18:30
    Author     : Daniel
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header, .menu{
    background-color: #19191f;
}

main{
    background-color: #26242d;
}

a:hover, a:hover i, a:hover span{
   transform: scale(0.9)
}

i,span{
    padding-bottom: 10px;
}

input, textarea{
    color: whitesmoke;
    border: none;
    background-color: #19191f;
    border-radius: 2px;
}

input::placeholder{
    color: #d9d9d9;
}

textarea::placeholder{
    color: #d9d9d9;
}

.btn{
    background-color: #1470d7;
    border-radius: 2px;
    color: whitesmoke;
}

.btn:hover{
    background-color: #468BD7;
    color: whitesmoke;
}

.cont-text{
    position: relative;
}

#contador{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #d9d9d9;
    font-size: 12px;
}